<h1>FAQ:</h1>

<ul>
    {{/* Inline code without a template */}}
    {{ range . }}
        <li>
            <p>{{ .Question }}</p>
            <p>{{ .Answer }}</p>
        </li>
    {{ end }}

    {{/* Use a template called qa and pass data to it */}}
    {{ range . }}
        {{ template "qa" . }}
    {{ end }}
</ul>

{{define "qa"}}
    <li>
        <p><strong>{{ .Question }}</strong></p>
        <p>{{ .Answer }}</p>
    </li>
{{end}}