{{define "layout-tailwind"}}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/dist/app.css" rel="stylesheet"></script>
    <title>Lenslocked</title>
</head>
<body>
<h1 class="py-4"></h1>
    {{ template "page" . }}
</body>
</html>
{{end}}